/**
 * @name frcat
 * @description Allows you to customize Discords native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
@import url(https://discord-extensions.github.io/snippets/windows-titlebar/source.css);
@import url(https://discord-extensions.github.io/snippets/gradient-buttons/source.css);
@import url(https://discord-extensions.github.io/modern-user-connections/src/source.css);
@import url(https://discord-extensions.github.io/bubble-bar/src/source.css);

:root {
  --accentcolor: 78, 93, 148;
  --accentcolor2: 255, 146, 251;
  --linkcolor: 114, 137, 218;
  --mentioncolor: 255, 189, 78;
  --textbrightest: 255, 255, 255;
  --textbrighter: 222, 222, 222;
  --textbright: 185, 185, 185;
  --textdark: 140, 140, 140;
  --textdarker: 115, 115, 115;
  --textdarkest: 80, 80, 80;
  --backgroundaccent: 46, 20, 91;
  --backgroundprimary: 30, 30, 30;
  --backgroundsecondary: 20, 20, 20;
  --backgroundsecondaryalt: 15, 15, 15;
  --backgroundtertiary: 10, 10, 10;
  --backgroundfloating: 0, 0, 0;
  --settingsicons: 1;
  --settingsmodalbackground: transparent;
  /* default:	transparent		(lowest bg color of changed windows, change it in case another theme turns them transparent)	*/
  --settingsmodalwidth: 960px;
  /* default:	960px			(width of the settings modal, px/vw)															*/
  --settingsmodalheight: 80vh;
  /* default:	80vh			(height of the settings modal, px/vh)															*/
  /* || Gradients */
  --gradient-special: 140deg, hsl(245, calc(var(--saturaton-factor, 1)*79%), 72%) 0%, hsl(287, calc(var(--saturaton-factor, 1)*80%), 70%) 100%;
  --gradient-blurple: 140deg, hsl(235, calc(var(--saturation-factor, 1)*85%), 72%) 0%, hsl(235, calc(var(--saturation-factor, 1)*85%), 60%) 100%;
  --gradient-green: 140deg, hsl(139, calc(var(--saturaton-factor, 1)*47%), 44%) 0%, hsl(139, calc(var(--saturaton-factor, 1)*66%), 24%) 100%;
  --gradient-yellow: 140deg, hsl(38, calc(var(--saturaton-factor, 1)*96%), 54%) 0%, hsl(38, calc(var(--saturaton-factor, 1)*82%), 41%) 100%;
  --gradient-red: 140deg, hsl(359, calc(var(--saturaton-factor, 1)*83%), 59%) 0%, hsl(359, calc(var(--saturaton-factor, 1)*54%), 37%) 100%;
  --gradient-grey: 140deg, hsl(214, calc(var(--saturaton-factor, 1)*10%), 50%) 0%, hsl(216, calc(var(--saturaton-factor, 1)*11%), 26%) 100%;

  /* || Transitions */
  --button-transition: 0.1s linear;
  --font-default: 500;
  --font-hover: 525;
  --fontsize-hover: 15px;
  --transform-normal: scale(1);
  --transform-hover: scale(1.15);
  --button-transform-hover: scale(1.04);
  /* || Main */
  --channeltextarea-rounding: 25px;
  --channeltextarea-background: var(--background-secondary-alt);
  --channeltextarea-border: var(--background-secondary);

  /* || Default Buttons */
  --channeltextarea-button-rounding: 50%;
  --channeltextarea-button-icon: var(--interactive-normal);
  --channeltextarea-button-background: var(--channeltextarea-background);
  --channeltextarea-button-hover: var(--background-tertiary);

  /* || Accents */
  --channeltextarea-caret: var(--brand-experiment-400);
  --channeltextarea-sendbutton-icon: var(--brand-experiment-130);
  --channeltextarea-sendbutton-background: var(--brand-experiment);
  --channeltextarea-sendbutton-hover: var(--brand-experiment-460);
  --channeltextarea-sendbutton-active: var(--brand-experiment-530);
}

/* Any custom CSS below here */
